<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andrea's Blog</title>
  </head>
  <body>
    <header><h1>Andrea's Blog</h1></header>
    <main>
        <section>
            <h2>mi primer post</h2>
            <p>Fecha de la publicación</p>
        </section>
        <section>
            <h2>mi segundo post</h2>
            <p>Fecha de la publicación</p>
        </section>
    </main>
    <footer>Creado con &#9829 por Andrea C. </footer>
  </body>
</html>
